<!-- Banner de bienvenida -->
  <div class="flex flex-col items-center justify-center bg-gray-300 py-24">
    <h2 class="text-3xl font-semibold mb-4">¡Bienvenido a eMarketMax!</h2>
    <p class="text-lg">La mejor plataforma de comercio electrónico para tus compras en línea.</p>
  </div>